<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StoreServe</display-name>
    <servlet-name>StoreServe</servlet-name>
    <servlet-class>com.reveture.project0.servlet.StoreServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreServe</servlet-name>
    <url-pattern>/displayAllProductWithStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrderById</display-name>
    <servlet-name>FindOrderById</servlet-name>
    <servlet-class>com.reveture.project0.servlet.FindOrderById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderById</servlet-name>
    <url-pattern>/FindOrderById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrderByName</display-name>
    <servlet-name>FindOrderByName</servlet-name>
    <servlet-class>com.reveture.project0.servlet.FindOrderByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderByName</servlet-name>
    <url-pattern>/FindOrderByName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrderByStatus</display-name>
    <servlet-name>FindOrderByStatus</servlet-name>
    <servlet-class>com.reveture.project0.servlet.FindOrderByStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderByStatus</servlet-name>
    <url-pattern>/FindOrderByStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.project0.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAndInsertNew</display-name>
    <servlet-name>RegisterAndInsertNew</servlet-name>
    <servlet-class>com.revature.project0.login.RegisterAndInsertNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAndInsertNew</servlet-name>
    <url-pattern>/RegisterAndInsertNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.reveture.project0.servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.revature.project0.login.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.revature.project0.login.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
</web-app>